@import '_colors.scss';

section {
    padding: 50px 0;
    &.main-characters {
        background: #daf3fb;
    }
    &.hero {
        padding: 25px 0 50px 0;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    color: #fff;
    background: $blue;
    padding: 10px 50px;
    margin: 25px auto;
    border-radius: 33px;
    text-decoration: none;
    border: 2px solid $blue;
    transition: all 0.25s ease;
    font-weight: 500;
    &:hover {
        background: #fff;
        color: $blue;
    }
}

h1, h2 {
    text-align: center;
}

.main-header {
    background: #1f1f1f;
    color: $white;

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 880px;
        .logo {
            width: 200px;
            height: 20px;
            margin-top: 15px;
            img {
                max-width: 100px;
                max-height: 100px;
            }
        }
        .navigation {
           ul {
            list-style: none;
            margin: 25px 0;
            display: flex;
            li {
                margin-left: 25px;
                a {
                    color: $blue;
                    text-decoration: none;
                }
            }
           }
        }
    }
}

.main-footer {
    background: $grey;
    color: $lightBlue;
    text-align: center;
    padding: 15px 0;
}

.container {
    &.characters {
        display: flex;
        flex-wrap: wrap;
        .character {
            margin: 10px;
            width: 200px;
            border: 1px solid $lightBlue;
            border-radius: 10px;
            background: #fff;
            .thumb {
                display: flex;
                justify-content: center;
                padding: 20px;
                img {
                    max-width: 150px;
                    border-radius: 10px 10px 0 0;
                }
            }
            .description {
                padding: 0 20px 20px 20px;
                .heading {
                    font-weight: 900;
                    display: inline;
                }
                span {
                    display: block;
                }
            }
        }
    }
    &.episodes {
        display: flex;
        flex-wrap: wrap;
        .episode {
            margin: 10px;
            width: calc(50% - 22px);
            border: 1px solid $lightBlue;
            border-radius: 10px;
            background: #fff;
            transition: all 0.25s ease;
            &:hover {
                background: $blue;
                .description {
                    color: #fff;
                }
            }
            .description {
                padding: 20px;
                .heading {
                    font-weight: 900;
                    display: inline;
                }
                span {
                    display: block;
                }
            }
        }
    }
}

.pagination-container {
    max-width: 90%;
    .pagination {
        list-style: none;
        display: flex;
        justify-content: center;
        .page {
            margin-right: 5px;
            padding: 5px 7px;
            border: 1px solid $lightBlue;
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}



.homepage {
    .main-image {
        max-width: 700px;
        margin: 25px auto 0 auto;
        display: block;
    }
}